/* Reset and Base Styles */
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-btn-card: #141417;
    --forground-main-color: rgb(255 255 255 / 1);
    --background-main-color: rgb(0, 0, 0);
    --card-border-radius: 30px;
    --default-color: rgba(156, 163, 175);
    --link-hover-color: rgb(129 120 255 / 1);
    --default-link-color: rgb(129 120 255 / 1);
}

body {
    padding: 0 20px;
    max-width: 1100px;
    margin: 3rem auto;
    background-color: var(--background-main-color);
    color: var(--forground-main-color);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(64, 63, 63);
}

body::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: rgb(99, 99, 99);
}

main {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--default-link-color);
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 0rem;
}

.content-text {
    padding: 1rem 0 3rem 0;
    font-size: 1.2rem;
}

/* Button Card */
.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: clamp(200px, 40vw, 18rem);
    height: clamp(200px, 40vw, 18rem);
    background-color: var(--bg-btn-card);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    border-radius: var(--card-border-radius);
    flex-direction: column;
    position: relative;
}

.button-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/* Wrapper */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Created By Section */
.createdby-section {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: #212128;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}

.createdby-section a {
    color: var(--default-link-color);
    text-decoration: none;
}

/* Button Text */
.btn-def-text {
    margin-top: 20px;
}

.btn-def-text:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}

/* Footer */
.footer-main {
    margin-top: 2rem;
}

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1.25rem;
    flex-direction: column;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
}

.footer-copyright {
    margin-top: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--default-color);
}

.footer-copyright > a {
    color: var(--link-hover-color);
}

.socials-span {
    margin-top: 1rem;
    justify-content: center;
    display: inline-flex;
}

.socials-span > a {
    color: var(--default-color);
    transition: all 0.3s ease-in-out;
}

.socials-span > a:hover {
    color: var(--link-hover-color);
    transform: scale(1.4);
}

.socials-span > a:not(:first-child) {
    margin-left: 0.75rem;
}

.socials-span > a > svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* Responsive Layouts */
@media (max-width: 480px) {
    body {
        padding: 0 10px;
    }
}

@media (min-width: 640px) {
    .footer-container {
        flex-direction: row;
        max-width: 640px;
    }

    .footer-title {
        justify-content: flex-start;
    }

    .socials-span {
        margin-left: auto;
        margin-top: 0;
        justify-content: flex-start;
    }

    .footer-copyright {
        padding: 0.5rem 0 0.5rem 1rem;
        margin-left: 1rem;
        border-left-width: 2px;
        border-color: rgba(31, 41, 55);
    }
}

@media (min-width: 768px) {
    .footer-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .footer-container {
        max-width: 1280px;
    }
}